body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
section {
  padding-top: 1rem;
  padding-bottom: 2.5rem; /* Footer height */
}
section:after {
  content: "";
  display: table;
  clear: both;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fad803' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fad803' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators .active {
  background-color: #fad803;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fcda00 !important;
  font-weight: bold;
}

a {
  color: #fcda00 !important;
  font-weight: bold;
}
article {
  margin: 10px;
  padding: 10px;
  background-color: black;
}
.article-title {
  border-bottom: dotted 2px #cccccc;
  margin-bottom: 10px;
  padding-bottom: 1px;
  display: table-cell;
}
.article-link {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
  padding-left: 10px;
}
.article-header {
  margin-bottom: 10px;
}
.card {
  margin: 10px;
}
.btn {
  background-color: black;
}

.card p {
  color: #141518;
}
